/* Using * selector to apply margin 0 to all elements */
* {
  margin: 0;
}

/* Setting the background colour of the website to dark blue */
body {
  background-color: rgb(20, 1, 63);
}

/* Using .wrapper class to set the width of the container to a 100% */
.wrapper {
  width: 100%;
}

/* Setting different styles for the h2 text */
h2 {
  text-align: center;
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: rgb(255, 253, 213);
  line-height: 44px;
  padding-bottom: 3%;
}

/* Setting the colour of the h3 text to a light yellow */
h3 {
  color: rgb(255, 253, 213);
}

/* Setting the styles and shapes of the movie posters */
img {
  width: 22%;
  border-radius: 30px;
  float: left;
  padding: 5px;
}

/* Setting the banner image to display none as I want to display
it only if it meets a px size condition*/
.img-banner {
  display: none;
}

/* Setting the movie title font to bold */
p.movie_title {
  font-weight: bold;
}

/* To make the website responsive for the styles, I used @media.
If there is a screen with a minimum width of 768px (iPad), then it
will display the banner image and apply the styles in between curly brackets */
@media only screen and (min-width: 768px) {
  .img-banner {
    display: block;
    width: 100%;
    border-radius: 0;
  }

  /* Using .wrapper class to set the width of the container to 600 px and the margin to 0 auto */
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
}

/* Using flex to align my elements in the div tag .style-details to the middle, like a column */
.style-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Styling the posters of the movies */
.img-details {
  width: 70%;
  border-radius: 0;
  padding-bottom: 2%;
}

/* Styling the plot of the movies */
.descrip_details {
  width: 70%;
  padding-bottom: 4%;
  color: rgb(255, 253, 213);
  text-align: center;
  font-size: larger;
}

/* Styling the trailers of the movies */
.vid-details {
  width: 70%;
  padding-bottom: 4%;
}

/* Styling the book cinema button */
.book-cinema {
  padding: 2%;
  color: white;
}

/* Styling the home page button */
.home-page {
  padding-bottom: 2%;
  color: white;
}

/* Styling the menu bar */
nav {
  width: 100%;
  height: 100px;
}

nav .menu-bar {
  margin-left: 60px;
}

nav .menu-bar li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

nav .menu-bar li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color: rgb(255, 253, 213);
  padding: 0 20px;
}

nav .menu-bar li a:hover {
  color: rgb(169, 89, 218);
}
